/* SearchBar Start */

.search-bar {
    margin-top: 50px;
}

.search-bar-form div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #395B64;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid #E7F6F2;
}

.search-bar-form div input {
    width: 330px;
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    margin-right: 20px;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.search-bar-form div input::placeholder {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: none;
}

.search-bar-form div button {
    width: 100px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: #A5C9CA;
    color: #2C3333;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color .3s linear;
}

.search-bar-form div button:hover {
    background-color: #E7F6F2;
}

/* SearchBar End */

/* Weather Box Start */

.weather-box {
    margin-top: 30px;
}

.boxes {
    position: relative;
    width: 483px;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    height: 585px;
    animation: boxes .5s ease-in-out;
}

.boxes-container {
    padding: 20px 30px 20px 30px;
}

.close-box {
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-box span {
    display: block;
    width: 25px;
    height: 5px;
    background-color: #999;
    margin: 10px 0;
    transform-origin: 1.5px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.close-box:hover.close-box span {
    background-color: #000;
}

.close-box span:nth-child(1) {
    transform: rotateZ(45deg);
}

.close-box span:nth-child(2) {
    transform: rotateZ(-45deg);
}

.city-name {
    display: flex;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.city-name span:nth-child(1) {
    font-size: 1.9rem;
}

.city-name span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: .7rem;
    background-color: #395B64;
    border-radius: 30%;
    color: #fff;
    margin-left: 5px;
    margin-top: 17px;
    transform: scale(.9);
}

.image {
    text-align: center;
    animation: weahterBoxImage .5s ease-in-out forwards;
    animation-delay: .2s;
    transform: scale(0);
}

.image img {
    width: 220px;
}

.temp-sky-status {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.temp-sky-status p {
    margin-top: -10px;
    opacity: 0;
    animation: tempAndSkyStatus .5s ease-in-out forwards;
}

.temp-sky-status p:nth-child(1) {
    font-size: 2.8rem;
    font-weight: 600;
    animation-delay: .5s;
}

.temp-sky-status p:nth-child(2) {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    animation-delay: .5s;
}

.humidity-wind-speed {
    display: flex;
    align-items: center;
}

.humidity {
    margin-right: auto;
    transition-delay: 1.5s;
}

.wind-speed {
    transition-delay: 1.5s;
}

.humidity-wind-speed-boxes {
    animation: humidityAndWindSpeed 1s ease-in-out forwards;
    /* opacity: 0; */
    transform: scale(0);
}

.humidity-wind-speed div:nth-child(2) {
    transition-delay: .6s;
}

.humidity-wind-speed div i {
    font-size: 2rem;
    margin-right: 15px;
}

.humidity-wind-speed div p:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 600;
}

.humidity-wind-speed div p:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
}

/* Weather Box End */

/* Alert Box Start */

.alert {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all .3s linear;
    z-index: -1;
}

.alert-box {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ED2B2A;
    color: #fff;
    width: 230px;
    height: 70px;
    padding-left: 10px;
    border-radius: 5px;
    z-index: 2;
}

.alert-box h1 {
    font-size: 1.1rem;
    font-weight: 400;
}

.alert.active {
    top: 130px;
    opacity: 1;
    z-index: 5;
}

/* Alert Box End */